
.container{
    display: grid;
    grid-template-columns:3rem auto 15rem;
    

}

.aside{
    background-color:black;
    color:white;
    border:2px solid white;
}


.main{
    border: 4px solid white;
}
.right{
    background-color: black;
    color:white;
    border:2px solid white;
}
body{
    background-color:rgb(143, 233, 203);
}
.icon-container {
    display: flex;
    flex-direction: column;
}
.material-symbols-outlined{
    font-size: 30px;
    margin: 9px 0;
    color:whites
}
.material-symbols-outlined:hover{
    font-size: 40px;
}




    
